@import '../../scss/variables';
@import '../../scss/mixins.scss';

.f-container {
    height: 500px;
    background-image: url('../../assets/form/form.png');

    @include mQ(821px) {
        height: 450px;
    }
}

.form-title {
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    color: #ffff;
    font-size: 48px;
    text-align: end;
}

.f-info {
    height: 80px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 12px;
    font-weight: 700;
    font-size: 18px;
    width: 360px;
    text-align: center;
    border-radius: 0.25rem;
}

.form {
    width: 300px;
}
