@import '../../../../scss/variables.scss';

.carousel-caption {
    bottom: 25%;
    top: 25%;
}
.slider-title {
    font-family: 'Teko', sans-serif;
    font-size: 38px;
    font-weight: 400;
}
.slider-descr {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 300;
}
.btn-show-more {
    display: block;
    margin: 30px auto;
    text-decoration: none;
    color: $main-color;
    width: 120px;
    height: 35px;
    line-height: 35px;
    background-color: $white;
    font-weight: 700;
    border: 1px solid $white;
    transition: all 0.7s;
    text-transform: uppercase;
    &:hover {
        background-color: inherit;
        color: $white;
    }
}
